<h1 class="text-center my-4 text-primary">Catalogo Direttive</h1>

<div class="container">
  
  <!-- Bottone per mostrare/nascondere -->
  <div class="row mb-4">
    <div class="col-12 d-flex justify-content-center">
      <button type="button" class="btn btn-primary btn-lg shadow" (click)="changeShow()">
        Clicca per {{ isShow ? 'nascondere' : 'mostrare' }}
      </button>
    </div>
  </div>

  <!-- Messaggi di prova -->
  <div class="row">
    <div class="col-12 text-center">
      <p class="message-class animated fadeIn" [ngClass]="isShow ? 'd-block' : 'd-none'">Pagina di esercitazione sulle direttive</p>
      <p class="message-style animated fadeIn" [ngStyle]="{ 'display': isShow ? 'block' : 'none' }">Divertiti a scoprirne le funzioni</p>
    </div>
  </div>

  <!-- Lista di persone -->
  <div class="row mt-5"  *ngIf="persone.length > 0; else notShow">
    <div class="col-12">
      <div class="row fw-bold text-secondary bg-light p-2 shadow-sm">
        <div class="col-2 text-center">ID</div>
        <div class="col-2 text-center">Nome</div>
        <div class="col-2 text-center">Cognome</div>
        <div class="col-6 text-center">Nazione</div>
      </div>
      <div class="row mt-2 animated fadeInUp" *ngFor="let p of persone">
        <div class="col-2 text-center">{{ p.id }}</div>
        <div class="col-2 text-center">{{ p.nome }}</div>
        <div class="col-2 text-center">{{ p.cognome }}</div>
        <div class="col-6 text-center">
          <img class="flag" [src]="'../assets/' + p.nazione + '.png'" alt="bandiera di {{ p.nazione }}">
        </div>
      </div>
    </div>
  </div>

  <!-- Messaggio persone non trovate -->
  <ng-template #notShow>
    <p class="text-center mt-4 text-danger animated fadeIn"> Persone non trovate</p>
  </ng-template>

  <!-- Bottone per svuotare l'array -->
  <div class="row mt-5">
    <div class="col-12 d-flex justify-content-center">
      <button type="button" class="btn btn-danger btn-lg shadow-lg" (click)="svuotaArray()">Elimina Utenti</button>
    </div>
  </div>

  <!-- Lista di automobili -->
  <div class="row mt-5">
    <div class="col-12">
      <div class="row fw-bold text-white bg-primary p-2">
        <div class="col-2 text-center">ID</div>
        <div class="col-2 text-center">Marca</div>
        <div class="col-2 text-center">Modello</div>
        <div class="col-2 text-center">Prezzo</div>
        <div class="col-4 text-center">Preview</div>
      </div>
      <div class="row mt-2 automobile-row animated fadeInUp" *ngFor="let a of automobili">
        <div class="col-2 text-center align-self-center">{{ a.id }}</div>
        <div class="col-2 text-center align-self-center">{{ a.marca }}</div>
        <div class="col-2 text-center align-self-center">{{ a.modello }}</div>
        <!-- | currency:'EUR' in Angular formatta i numeri come va;ute (in questo caso Euro) -->
        <div class="col-2 text-center align-self-center text-success fw-bold">{{ a.prezzo | currency:'EUR' }}</div>
        <div class="col-4 text-center">
          <img class="auto-img" [src]="'../assets/' + a.modello + '.png'" alt="Immagine di {{ a.modello }}">
        </div>
      </div>
    </div>
  </div>

  <!-- Bottone per mostrare l'alert -->
  <div class="row mb-4">
    <div class="col-12 d-flex justify-content-center">
      <button type="button" class="btn btn-primary btn-lg shadow" (click)="mostraPrezzoMaggiore()">
        Auto più costosa
      </button>
    </div>
  </div>

  <div class="row mt-2">
    <div *ngFor="let l of libri" class="card col-4">
      <div class="card-inner text-center">
        <img [src]="'../assets/' + l.titolo + '.png'" class="card-img-libri" [alt]="l.titolo">
        <div class="card-body">
          <h5 class="card-title">{{l.titolo}}</h5>
          <div class="price text-center text-white fw-bold">{{l.prezzo | currency:'EUR'}}</div>
          <p class="card-text">{{l.trama}}</p>
          <div class="d-flex justify-content-center">
            <!-- Le card girano al passaggio del mouse passando così alla card-back -->
          </div>
        </div>

        <div class="card-back">
          <img [src]="'../assets/' + l.casaEditrice + '.png'" class="card-img-libri" [alt]="l.casaEditrice">
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-12 d-flex justify-content-center">
      <button type="button" class="btn btn-primary btn-lg shadow" (click)="ordinaPerPrezzo()">
        Ordina per prezzo {{isSorted ? 'crescente' : 'decrescente'}}
      </button>
    </div>
  </div>
</div>


